:root {
    /* font family */
    --main-font:'Roboto', sans-serif;
    --second-font:'Raleway', sans-serif;
    /* text colors */
    --text-color: #757575;
    --titlt-color: #212121;
    --adress-color: rgba(255, 255, 255, 0.6);
    --logo-dark-color: #000000;
    --white-color: #FFFFFF;
    --icon-color:#AFB1B8;
    --placeholder-color: rgba(117, 117, 117, 0.5);
    /* background colors */
    --main-bg-color:#FFFFFF;
    --second-bg-color:#2F303A;
    --bg-color: #F5F4FA;
    --bg-hero-color: #C4C4C4;
    --accent-color: #2196F3;
    --second-accent-color:#188CE8;
    --overlay-bg-color:rgba(32, 148, 243, 0.902);
    --socials-bg-color: rgba(255, 255, 255, 0.1);
    --backdrop-bg-color:rgba(0, 0, 0, 0.2);
    /* border colors */
    --border-color:#EEEEEE;
    --border-header-color:#ECECEC;
    --border-close-color: rgba(0, 0, 0, 0.1);
    --border-input-color: rgba(255, 255, 255, 0.3);
    --border-modal-color: rgba(33, 33, 33, 0.2);
    /* shadows */
    --team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    --filter-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

}
 

.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ********************************************************************* 
*************** Шапка ******************** 
********************************************************************** */

.page-header {
    border-bottom: 1px solid var(--border-header-color);
}

.container--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: inline-block;
    font-family:var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo--dark {
    color: var(--logo-dark-color);
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header__logo {
    margin-right: 93px;
    padding: 24px 0;
}

.nav {
    display: flex;
}

.page-header__contacts {
    display: flex;
    margin-left: auto;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titlt-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}

.nav__link--accent {
    color: var(--accent-color);
}

.nav__link--accent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--text-color);
    fill: currentColor;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
    color: var(--accent-color);
    fill: currentColor;
}

.contact__link--padding {
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact__item--position:not(:last-child) {
    margin-right: 50px;
}

.contact__icon {
    margin-right: 10px;
    align-items: baseline;
}

/* ********************************************************************* 
*************** Футер ******************** 
********************************************************************** */

.logo--white {
    color: var(--white-color);
}

address {
    font-style: normal;
}

.address__contact {
    display: inline-block;
    font-size: 14px;
    line-height: 1.7;
    color: var(--adress-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:focus {
    color: var(--accent-color);
}

.footer--text-color {
    color: var(--white-color);
}

.footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer {
    background-color: var(--second-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    padding: 0;
    margin-bottom: 20px;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__block:not(:last-child) {
   margin-right: 70px;
}

.footer__block:last-child {
    margin-left: auto;
}

.footer__btn { 
    padding: 10px 0;
    padding-left: 29px;
    padding-right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.footer__email {
    margin-left: 10px;
    margin: 0;
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    margin-right: 12px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--border-input-color);
    cursor: pointer;

    color: var(--adress-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__email:not(:placeholder-shown) {
    background-color: transparent;
}

.footer__email::placeholder {
    color: var(--adress-color);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}

.footer__email:hover,
.footer__email:focus {
    border-color: var(--accent-color);
    outline-style: var(--accent-color);
}

.subscription {
    display: flex;
}

.footer__icon {
    fill: var(--white-color);
}

/* ********************************************************************* 
*************** WebStudio ******************** 
********************************************************************** */

/* ---------- Hero ---------------  */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url(../images/webstudio/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:var(--bg-hero-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 0;
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--second-accent-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--titlt-color);
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
}


/* --------------- Наши преимущества ------------ */

.features {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature__tumb {
    height: 120px;
    padding: 100px, 25px;
    margin-bottom: 30px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__icon {
    display: block;
    width: 70px;
    height: 70px;
}

.feature__title {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    color: var(--titlt-color);
}

.features__list {
    display: flex;
}

.feature__item:not(:last-child) {
    margin-right: 30px;
}

.feature__text {
    font-size: 14px;
    line-height: 1.7;
    width: 270px;
}

/* ------------ Чем мы занимаемся ----------- */
.services {
    padding-bottom: 94px;
}

.services__list {
    display: flex;
}

.service__item {
    position: relative;
    z-index: -1;
}

.service__item:not(:last-child) {
    margin-right: 30px;
}

.service__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
}

/*----------------Наша команда ------------*/

.employees {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--bg-color);
}

.employees__list {
    display: flex;
    text-align: center;
}

.employee__item {
    width: 270px;
    background-color: var(--white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: var(--team-shadow);
}

.employee__item:not(:last-child) {
    margin-right: 30px;
}

.employee__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--titlt-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.employee__vacancy {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.employee__card {
    padding: 30px 0;
}

.employee__list {
    justify-content: center;
}

/* ------------ Постоянные клиенты ----------- */

.clients {
    padding-top: 75px;
    padding-bottom: 94px;
    background-color: var(--main-bg-color);
}

.clients__list {
    display: flex;
}

.client__item {
    margin-right: 30px;
}

.client__item:last-child {
    margin-right: 0;
}
.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    padding: 32px, 16px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);  
}

/* ********************************************************************* 
*************** Portfolio ******************** 
********************************************************************** */

.portfolio {
    padding: 94px 0;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__btn {
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--titlt-color);
    background-color: var(--bg-color);
    border-radius: 4px;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__btn:hover,
.filter__btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: var(--filter-shadow);
}

.works {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.work__item {
    width: 370px;
}

.work__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.work__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.work__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__link:hover,
.work__link:focus {
    box-shadow: var(--portfolio-card-shadow);
}

.work__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--titlt-color);
    margin: 0;
    margin-bottom: 4px;
}

.work__view {
    font-size: 16px;
    line-height: 1.9;
    color: var(--text-color)
}

.work__label {
    padding: 20px 24px;
    border: 1px solid var(--border-color);
    border-top: none;
}

/* ******************** CVG ******************** */

.socials__list {
    display: flex;
}

.social__item {
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100%;
    background-color: var(--socials-bg-color);
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon{
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
    fill: var(--main-bg-color);
}

.footer__icon {
    fill: var(--main-bg-color);
}

/* ******************** Модальное окно ******************** */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bg-color);

    transition: visibility 300ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: var(--main-bg-color);
    box-shadow: var(--team-shadow);
    width: 528px;
    padding: 40px;

    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 350ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5) rotate(360deg);
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    border: 1px solid var(--border-close-color);
    cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
outline-color: var(--accent-color);
}

.btn-close:hover .close-icon,
.btn-close:focus .close-icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: var(--logo-dark-color);
}

.modal__form {
    text-align: left;
}

.modal__title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--titlt-color);
}

.form__group {
    position: relative;
    margin-bottom: 10px;
}

.form__group {
    display: block; 
}

.form__icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--titlt-color);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 12px;   
    padding-left: 42px;
    border-radius: 4px;

    border: 1px solid var(--border-modal-color);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--titlt-color);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
    resize: none;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
    color: var(--titlt-color);
    font-size: 14px;        
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--titlt-color);
}

.form__textarea::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--placeholder-color);
}

.form__group:hover .form__icon,
.form__group:focus-within .form__icon {
    fill: var(--accent-color);
}

.form__group:hover .form__field,
.form__group:focus-within .form__field {
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
}

.form__title,
.checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
}

.checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.checkbox__text {
    text-align: center;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox__policy {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.checkbox__field {
    position: absolute;
    top: 50%;
    left: 20px; 

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;  
} 

.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    width: 16px;
    height: 15px;
    outline: 1px solid var(--titlt-color);
    outline-offset: -1px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__field:checked + .checkbox__icon {
   background-color: var(--accent-color);
   outline-color: transparent;
   fill: var(--white-color);
}

.checkbox__field:hover +.checkbox__icon,
.checkbox__field:focus +.checkbox__icon {
    outline-color: var(--accent-color);
}

.form__btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*  */

.work__card {
    position: relative;
    overflow: hidden;
}

.work__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-bg-color);
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__link:hover .work__overlay,
.work__link:focus .work__overlay {
    opacity: 1;
    transform: translateY(0);
}

.work__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--white-color);
}

