@import "./utils/vars";
@import "./utils/general";
@import "./components/general/page-header";
@import "./components/main-page/hero+modal";
@import "./components/main-page/features";
@import "./components/main-page/services";
@import "./components/general/socials-list";
@import "./components/main-page/employees";
@import "./components/main-page/clients";
@import "./components/general/footer";
@import "./components/portfolio/portfolio_filter";
@import "./components/portfolio/portfolio_works";