/*----------------Наша команда ------------*/

.employees {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $bg-color;
}

.employee {
    display: flex;
    text-align: center;
}

.employee__item {
    width: 270px;
    background-color: $white-color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: $team-shadow;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

// .employee__item:not(:last-child) {
//     margin-right: 30px;
// }

.employee__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: $titlt-color;
    margin-top: 0;
    margin-bottom: 10px;
}

.employee__vacancy {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
}

.employee__card {
    padding: 30px 0;
}

.employee__list {
    justify-content: center;
}