// Работы 

.works {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.work__item {
    width: 370px;
}

.work__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.work__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.work__link {
    display: block;
    transition: box-shadow $time $cubic;

    &:hover,
    &:focus {
        box-shadow: $portfolio-card-shadow;
    }
}

// .work__link:hover,
// .work__link:focus {
//     box-shadow: $portfolio-card-shadow;
// }

.work__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $titlt-color;
    margin: 0;
    margin-bottom: 4px;
}

.work__view {
    font-size: 16px;
    line-height: 1.9;
    color: $text-color;
}

.work__label {
    padding: 20px 24px;
    border: 1px solid $border-color;
    border-top: none;
}

.work__card {
    position: relative;
    overflow: hidden;
}

.work__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $overlay-bg-color;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    opacity: 0;
    transform: translateY(100%);
    transition: transform $time $cubic,
        opacity $time $cubic;

        .work__link:hover &,
        .work__link:focus & {
            opacity: 1;
            transform: translateY(0);
        }
}

// .work__link:hover .work__overlay,
// .work__link:focus .work__overlay {
//     opacity: 1;
//     transform: translateY(0);
// }

.work__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: $white-color;
}