.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $text-color;
    background-color: $main-bg-color;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
